<!DOCTYPE html>
<html>

<head>
    <% include ./partials/head %>
</head>

<body>
    <% include ./partials/navbar %>


    <div class="container">
        <h1 class="display-4">Vad är du sugen på?</h1>
        <form action="/restaurants/genres" method="POST">
            <div class="form-group">
                <select class="custom-select" id="genreInput" name="genreInput">
                    <option selected>Välj genre...</option>
                    <% for (genre of genres) { %>
                    <option value="<%= genre.genre %>"><%= genre.genre %></option>
                    <% } %>
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Se restauranger</button>
        </form>

        <h1 class="display-4"><%= title %></h1>
        <div class="list-group">
            <% for (restaurant of restaurants) { %>

            <a href="/restaurants/restaurant/<%= restaurant.name %>" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1"><%= restaurant.name %></h5>
                    <h5 class="mb-1"><% if (restaurant.avgRating != null) { %>
                        <span class="badge badge-info"><%= restaurant.avgRating %> / 5</span>

                        <% } else { %>
                        <span class="badge badge-secondary">Inget betyg</span>

                        <% } %>
                    </h5>
                </div>
                <p class="mb-1"><%= restaurant.location %></p>
                <p class="mb-1"><%= restaurant.genre %></p>
            </a>
            <% } %>
        </div>


    </div>

    <% include ./partials/scripts %>
</body>

</html>
